@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

* {
  position: relative;
}

body {
  display: flex;
  position: relative;
  justify-content: center;
  box-sizing: border-box;
  overflow-x: hidden;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 1440px;
  background-color: #072038;
  color: #fff;
  font-family: "outfit", Courier, monospace;
}

body::before {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 0;
  width: 100vw;
  background-image: url("../Images/background-pattern.png");
  opacity: 0.1;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "outfit", Courier, monospace;
}

p {
  font-family: "porpora", Courier, monospace;
}

button {
  font-family: "outfit", Courier, monospace;
  font-size: 16px;
  color: #072038;
  transition: all 0.2s;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}
